* {
  box-sizing: border-box;
}

.frame55 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #ffffff;
  padding: 48px 16px;
  width: 375px;
  height: 1239px;
  row-gap: 32px;

  .aboutUsInfo {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 16px;

    .aboutUsTitleContaine {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      margin-right: 197px;
      border-radius: 4px 0px 0px 4px;
      padding: 4px 60px 4px 8px;
      background-image: linear-gradient(90deg, #2041991a 0%, #ffffff1a 100%);

      .ellipse1 {
        flex-shrink: 0;
        border-radius: 50%;
        background: var(--Foundation-Blue-blue-500, #204199);
        width: 8px;
        height: 8px;
      }

      .aboutUsTitle {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Foundation-Blue-blue-500, #041e3a);
        font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .title3 {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 48px;
      letter-spacing: -1.6px;
      color: #000000;
      font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 600;

      .title {
        line-height: 48px;
        letter-spacing: -1.6px;
        color: var(--Foundation-black-black-400, #535967);
        font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 600;
      }

      .title2 {
        line-height: 48px;
        letter-spacing: -1.6px;
        color: var(--Foundation-Blue-blue-500, #204199);
        font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 600;
      }
    }
  }

  .frame54 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 32px;

    .description2 {
      flex-shrink: 0;
      align-self: stretch;
      width: 343px;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Foundation-black-black-400, #535967);
      font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .title4 {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: -0.96px;
      color: var(--Foundation-black-black-500, #0d1321);
      font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .description {
      flex-shrink: 0;
      width: 31px;
      line-height: 25px;
      letter-spacing: 0;
      color: var(--Foundation-black-black-400, #535967);
      font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    .learnMore2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      margin-right: 232px;
      border-radius: 99px;

      .learnMore {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Foundation-Blue-blue-500, #204199);
        font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .iconContainer {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border: 1px solid var(--Foundation-Blue-blue-400, #4d67ad);
        border-radius: 100px;
        background: var(--Foundation-Blue-blue-100, #eef8ff);
        padding: 3px;

        .arrowUpRight01 {
          flex-shrink: 0;
          width: 14px;
          height: 14px;
          overflow: hidden;
        }
      }
    }

    .frame51 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .header {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;

        .headerContent {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 20px;
        }
      }
    }

    .line4 {
      flex-shrink: 0;
      align-self: stretch;
      background: #dde2eb;
      height: 1px;
    }

    .container {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 25px;

      .header2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;

        .headerContent2 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 28px;
          margin-right: 60px;
        }
      }

      .mainContent {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;

        .imagePlaceholder {
          flex-shrink: 0;
          align-self: stretch;
          border-radius: 8px;
          width: 343px;
          height: 200px;
        }

        .sidebarContent {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 34px;
          row-gap: 12px;

          .sectionHeader {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 10px;
            border: 1px solid var(--Foundation-black-black-200, #dde2eb);
            border-radius: 100px;
            padding: 3px 7px;
            background-image: linear-gradient(
              90deg,
              #2041991a 0%,
              #ffffff1a 100%
            );

            .sectionTitle {
              flex-shrink: 0;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Foundation-black-black-400, #535967);
              font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }

          .sectionContainer {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 12px;
            margin-right: 107px;
          }

          .sectionContainer2 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 12px;
          }
        }
      }
    }

    .frame52 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .header3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;

        .headerContent3 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 20px;
          margin-right: 23px;
        }
      }
    }

    .frame53 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .header4 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;

        .headerContent4 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 20px;
          margin-right: 18px;
        }
      }
    }
  }
}
